/* index + header+ footer*/
body, header {
    margin: 0%;
	padding: 0%;
	font-family: Arial, sans serif;
}
header nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #3391FF;
    font-size: 1.1em;
  
}
header nav li { float: left;}
header nav li a, button, #brand {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 16px 20px;
    text-decoration: none;
}
header button
{
	height: 100%;
	border: none;
	background-color: transparent;
}
header nav li a:hover, #menu:hover button, nav li div a:hover, input[type="button"]:hover {
    background-color: #f1f1f1;
    color: darkblue;
}
header nav li#menu { display: inline-block;}
header nav li div {
    display: none;
    position: absolute;
    background-color: #3391FF;
    min-width: 160px;
    z-index: 1;
}
header nav li div a {
    color: #f1f1f1;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
   /* float: left;*/
}
#menu:hover #ssmenu {
    display: block;
    position: fixed;
}
.droite {float: right;}
#def, #cours h2
{
	clear: both;
	text-align: center;
}
#def h1
{
	color: #3391FF;
}
#trian:before{
  content : "\0025BC";
}

/*#trian:after{
  content : "\0025BC";
}*/
#carousel
{
	width: 100%;
	border-radius: 5px /5px;
	overflow: hidden;
	height: 450px;
}
#carousel figure
{
	position: relative;
	width: 500%;
	margin: 0;
	padding: 0;
	font-size: 0;
	animation: 17s carou infinite;
}
#carousel figure img
{
	width: 20%;
	height: auto;
	float: left;
}
@keyframes carou
{
	0% { left: 0%; }
	20% { left: 0%; }
	25% { left: -100%; }
	45% { left: -100%; }
	50% { left: -200%; }
	70% { left: -200%; }
	75% { left: -300%; }
	95% { left: -300%; }
	100% { left: -400%; }
}
#cours ul
{
	width: 100%;
}
#cours a
{
	text-decoration: none;
	color: black;
	text-align: center;
	font-weight: bold;
}
#cours li
{
	width: 14%;
	margin: 0% 1%;
	height: 200px;
	overflow: hidden;
	padding: 1%;
	border: 2px solid grey;
	box-shadow: 2px 2px 1px grey;
	float: left;
	font-weight: bold;
}
#cours li:hover
{
	background-color: #3391FF;
	width: 17%;
	height: 160px;
	transition-duration: 1.5s;
}
#cours img
{
	width: 100%;
	height: 150px;
}
footer
{
    clear: both;
    margin-top: 25%;
	background-color: #3391FF;
    color: white;
    text-align: center;
    height: 100%;
    padding-top: 1%;
    bottom: 0;
}
footer dl,main nav dl{
    list-style-type: none;
}
footer .informations,footer .contenus ,footer .suivi-nous
{
    float: left;
    margin-left: 12%;
    width: 18%;
}
footer .copyright
{
    clear: both;
}
footer a
{
    color: black;
    text-decoration: none;
    font-weight: bold;
}
footer a:hover
{
    color: white;
    font-size: 1.3em;
}

/*cours 3 intro*/
main
{
	display: flex;
	flex-wrap: wrap;
}
main nav
{
	  background-color: #3391FF;
	width: 20%;
	border-radius: 0px 20px 20px 0px;
	margin-right: 5%;
	position: fixed;
	padding-top: 1%;
}
main div
{
	padding-left: 25%;
	width: 70%;
}
main nav img
{
	width: 50%;
	margin-left: 18%;
	margin-top: 5%;
	background-color: white;
	padding: 7% 7%;
	border-radius: 50% 20%;
}
main nav li
{
	padding: 6% 4%;
	text-align: center;
	margin: 2% 0%;
}
main nav li a, main>button a
{
	color: white;
}
main nav li:hover
{
	background-color: #f1f1f1;
    font-size: 1.2em;
}
main nav li:hover a{ color: darkblue; }
/* chaps*/
main div a,main nav li a, main>button a 
{
	text-decoration: none;
}
main div a 
{
	font-size: 1.1em;
	color: black;
}
main div li { margin: 6% 1%; }
main div a span 
{
	color: #3391FF !important;
}
main div a:hover 
{
	font-size: 1.5em;
	transition-duration: 1s;
}
main>button
{
	color: white;
	background-color: #3391FF;
	border: none;
	border-radius: 10px/10px;
	padding: 3% 4%;
	margin: 4% 20%;
	font-weight: bold;
}
/*titres */
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 1.1em;
    font-weight: bold;
    transition: 0.4s;
}
.active, .accordion:hover {
    background-color: #ccc;
}
.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}
.active:after {content: "\2212";}
.panel {
	width: 100% !important;
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
/*cours 3 chap 1*/
p>span
{
	background-color: rgba(190,255,255,0.8);
	border-radius: 6px / 6px;
	padding: 0.3% 1%;
}
main section div .imgRight
{
	float: right;
	width: 20%;
	height: 10%;
	margin-right: 5%;
}
main section div .imgMiddle
{
	width: 50%;
	height: 20%;
	margin: 2% 20%;
}
.code
{
	background-color: black;
	color: snow;
	padding: 1%;
	margin-bottom: 1%;
	border-radius: 10px;
}